
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #000;
    min-height: 100%;
}

#logging{
    width:100%;
    height:100%;
    background-color: #fff;
    display: flex;
    justify-content:space-around;
    align-items: center;
    z-index:1001;
    position:fixed;
    top:0;
    

}

#logging img{
    width:8%;
    height:16%;
    display: block;
    margin:auto;
}


#container{
    width:100%;
    height:100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#login-container{
    width:45%;
    height:45%;
    border-radius:10px;
}
#logo{
    width:55%;
    height:55%;
    display: flex;  
    justify-content: center;
    align-items: center;
}

#X{
    display: block;
    position:relative;
    width:80;
    height:100%;
    margin-top: 20%;
}

h1{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

h2{
    font-size: 2rem;
    font-weight: 650;
    margin-bottom: 1.5rem;
}

.login_button{
    width:50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    border: 1px solid lightgray;
    font-size: 1rem;
    background-color: #fff;
    
}

#google .icon{
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 5px;
}

#google{
    display: flex;
    align-items: center;
    justify-content: center;
}

#apple{
    display: flex;
    align-items: center;
    justify-content: center;
}

#apple .icon{
    width: 38px;
    height: 22px;
    display: inline-block;
    margin-left: -5px;
}

#createAccount{
    background-color:#000;
    color: #fff;
    font-weight:600;
    border: 1px solid #000;
}

#signin{
    color: #000;
    font-weight:600;
}

.line{
    width: 21%;
    border: 1px solid lightgray;
}

.two{
    margin-left:27%;
    position:relative;
    top:-1.25rem;

}
.one{
    margin-left:0%;
    position:relative;
    top:1rem;

}

#divider span{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 22%;
}

.dialog{
    width:50%;
    padding-left:1rem;
    height: 90%;
    border-radius: 10px;
    background-color: #fff;
    position: fixed;
    top:5%;
    z-index: 999;
    border: 1px solid lightgray;
    left:25%;
    overflow-y:scroll;
    overflow-x: hidden;

}

#backdrop{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display:none;
}

.dialog .body{
    width:76%;
    margin:auto;
    position:relative;
    display: flex;
    flex-direction: column;
    gap:1rem;
    
}

#newAccount .body input,button{
    padding: 1rem;
    border: 1px solid lightgray;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;

}

#newAccount .body button{
    background-color: grey;
    color: #fff;
    font-weight:600;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 2rem;
    
}

.dialog .head{
    height: 9%;
    padding: 0.5rem;
    display: flex; 
    gap: 39%;
    align-items: center;
    top: 0px;
    position: sticky;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

#newAccount .body h3{
    margin-bottom:-1rem;
}

#disclaimer{
    font-size: 0.9rem;
    color:rgb(82, 81, 81);
}

.dialog .head img{
    width: 8%;
    height: auto;
    cursor: pointer;
}

.closeButton{
    font-size:2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#newAccount{
    display:none;
}

#Signin_dialog{
    display:none;
    width:45%;
}

#Signin_dialog .body{
    width:60%;
}

#Signin_dialog .body input,button{
    padding: 0.75rem;
    width:90%;
    border: 1px solid lightgray;
    border-radius:20px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
    
#Signin_dialog .body button{
    width:100%;
    background-color: #000;
    color: #fff;
    font-weight:600;
    cursor: pointer;
}

.err_msg{
    color: red;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
    margin-left:0.5rem;
    padding-top:0;
    display:none;
}

#weak_pswd{
    display:none;
}

#wrong_email{
    display:none;
    margin-top:-1rem;
    margin-bottom: 0;
}

#wrong_newname {
    display: none;
    margin-top: -1rem;
    margin-bottom: 0;
}

#wrong_name{
    display:none;
}

#wrong_pswd{
    display: none;
    margin-top: -1rem;
    margin-bottom: 0;
}

#pswd_mismatch{
    display:none;
    margin-top:-1rem;
    margin-bottom: 0;
}

#wrong_dob{
    display:none;
    margin-top:-1rem;
    margin-bottom: 0;
}